@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cutive+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

/* NAV STYLES */
nav {
  border-bottom: 1px solid rgb(87, 87, 87);
  background-color: black;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  align-items: center;
  padding: 16px;
}

.logo span {
  color: greenyellow;
}

.nav-links {
  display: flex;
  padding: 1rem;
  column-gap: 20px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}


.nav-links li a:hover {
  color: greenyellow;
}

/* HERO STYLES */
.hero {
  padding: 32px 20px;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-size: 1rem;
}

.hero-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  color: white;
  padding: 20px 0;
}

.hero-text h1 span {
  color: greenyellow;
}

.tagline {
  color: greenyellow;
  text-transform: uppercase;
}

.tagline::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 1.5px;
  background: greenyellow;
  margin: 0.3rem;
}

.hero-description {
  color: gray;
  max-width: 300px;
}

.hero-actions {
  display: flex;
  padding: 24px 0;
  gap: 15px;
}

/* button styling */
.btn-primary {
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 16px;
  background-color: rgb(5, 231, 24);
}

.btn-outline {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 8px;
  padding: 16px;
  background-color: rgb(0, 0, 0);
}

.hero-actions .btn-primary:hover,
.btn-outline:hover {
  transform: translateY(-2px);
  transition: 0.5s ease-out;
}

/* stats styling */
.stats {
  display: flex;
  gap: 16px;
  color: rgb(255, 255, 255);
}

.stat-item {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.stat-number {
  font-size: 20px;
}

.stat-label {
  color: gray;
  font-size: 12px;
}

.stat-number span {
  color: greenyellow;
  font-weight: bolder;
}

/* img styling */

